@import "colors/frappe_";

* {
  all: unset;
  margin-right: 6px;
  margin-left: 6px;
}

tooltip {
  background: $Base;
  border-radius: 1rem;
}

tooltip label {
  color: $Text;
}

window.eDP-1 {
  background-color: $bgcolor1;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 14px;
  border: 2px solid $Ice;
  border-radius: 1.5rem;
}

window {
  background-color: $bgcolor1;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 15px;
  border: 2px solid $Ice;
  border-radius: 1.5rem;
}

#custom-shutdown {
  padding: 0 0 0 0;
  margin: 4px 0 6px 0;
  min-width: 34px;
  font-size: 20px;
  border-radius: 10px 30px 30px 10px;
  // background-color: $Mantle;
  color: $shutdown;
}

#workspaces {
  background-color: $bgcolor2;
  border: 2px solid $Text;
  border-radius: 10px;
  margin: 5px;
}

#workspaces button {
  color: $button;
  padding: 0 1px;
  font-size: 20px;
}

#workspaces button.active {
  font-weight: bold;
  color: $Sapphire;
  border-bottom: 2px solid $Blue;
}

#workspaces button.empty {
  color: $empty;
}

#workspaces button.urgent {
  color: $Red;
}

#workspaces button.visible {
  color: $Lavender;
}

#window {
  font-weight: bold;
  font-size: 14px;
  color: $Flamingo;
}

#custom-weather,
#clock {
  margin: 0 2px;
  color: $Text;
}

#temperature {
  color: $Sky;
}
#temperature.critical {
  color: $critical;
  margin-right: 2px;
}

#cpu {
  color: $Red;
}

#memory,
#disk,
#battery,
#custom-change-wallpaper {
  color: $Sapphire;
}

#backlight {
  color: $Yellow;
}

#pulseaudio {
  color: $Mauve;
}

#pulseaudio.bluetooth {
  color: $Blue;
}

#pulseaudio.muted {
  color: $Overlay0;
}

#network {
  color: $Peach;
}

#network.disabled {
  color: $Red;
}

#network.disconnected {
  color: $critical;
}

#custom-weather.severe {
  color: $Peach;
}

#custom-weather.sunnyDay {
  color: $Yellow;
}

#custom-weather.clearNight {
  color: $Blue;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: $fog;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: $Teal;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: $Ice;
}

#custom-weather.default {
  color: $Sapphire;
}

#tray {
  background-color: $Surface0;
  color: $Text;
  border: 1px solid $Text;
  border-width: 2px;
  border-radius: 10px;
  margin: 5px;
}
