* {
  all: unset;
  margin-right: 6px;
  margin-left: 6px; }

tooltip {
  background: #303446;
  border-radius: 1rem; }

tooltip label {
  color: #c6d0f5; }

window.eDP-1 {
  background-color: #303446;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 14px;
  border: 2px solid #3fd0d4;
  border-radius: 1.5rem; }

window {
  background-color: #303446;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 15px;
  border: 2px solid #3fd0d4;
  border-radius: 1.5rem; }

#custom-shutdown {
  padding: 0 0 0 0;
  margin: 4px 0 6px 0;
  min-width: 34px;
  font-size: 20px;
  border-radius: 10px 30px 30px 10px;
  color: #e83f34; }

#workspaces {
  background-color: #232634;
  border: 2px solid #c6d0f5;
  border-radius: 10px;
  margin: 5px; }

#workspaces button {
  color: #626880;
  padding: 0 1px;
  font-size: 20px; }

#workspaces button.active {
  font-weight: bold;
  color: #85c1dc;
  border-bottom: 2px solid #8caaee; }

#workspaces button.empty {
  color: #949cbb; }

#workspaces button.urgent {
  color: #e78284; }

#workspaces button.visible {
  color: #babbf1; }

#window {
  font-weight: bold;
  font-size: 14px;
  color: #eebebe; }

#custom-weather,
#clock {
  margin: 0 2px;
  color: #c6d0f5; }

#temperature {
  color: #99d1db; }

#temperature.critical {
  color: #ff0000;
  margin-right: 2px; }

#cpu {
  color: #e78284; }

#memory,
#disk,
#battery,
#custom-change-wallpaper {
  color: #85c1dc; }

#backlight {
  color: #e5c890; }

#pulseaudio {
  color: #ca9ee6; }

#pulseaudio.bluetooth {
  color: #8caaee; }

#pulseaudio.muted {
  color: #737994; }

#network {
  color: #ef9f76; }

#network.disabled {
  color: #e78284; }

#network.disconnected {
  color: #ff0000; }

#custom-weather.severe {
  color: #ef9f76; }

#custom-weather.sunnyDay {
  color: #e5c890; }

#custom-weather.clearNight {
  color: #8caaee; }

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #838ba7; }

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #81c8be; }

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #3fd0d4; }

#custom-weather.default {
  color: #85c1dc; }

#tray {
  background-color: #414559;
  color: #c6d0f5;
  border: 1px solid #c6d0f5;
  border-width: 2px;
  border-radius: 10px;
  margin: 5px; }
