* {
    all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar-widget {
    background-color: #eff1f5;
    color: #4c4f69;
    padding: 2px;
    border-radius: 1rem;
}

// Styles on classes (see eww.yuck for more information)
.sidestuff slider {
    all: unset;
    color: #f0c6c6;
}

.metric scale trough highlight {
    all: unset;
    background-color: #d20f39;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #5b6078;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.metric scale trough highlight {
    all: unset;
    background-color: #d20f39;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #5b6078;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.label-ram {
    font-size: large;
}

.workspaces-widget {

    .workspace-entry {
        &.current {
            color: rgb(24, 24, 94);
        }
        &.occupied {
            color: pink;
        }
        &.empty {
            color: black;
        }
    }


}
